div{
    color: black;
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
#yourboard{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#your_shotleft{
    color: red;
    font-size: 1.1rem;
    font-weight: 700;
    width: 40px;
    background-color: aliceblue;
    width: 70px;
    border-radius: 5px;

}
#comp_shotsleft{
    color: red;
    font-size: 1.1rem;
    font-weight: 700;
    background-color: aliceblue;
    width: 70px;
    height: 1.8rem;
    border-radius: 5px;

}

.board{
    display: grid;
    gap: 1px;
    border: 2px solid black;
    width: 409px;
    height: 409px;
    margin: 10px
}
.board > div{
    display: inline-block;
    border: 1px solid black;
    padding: 9px;
    height: 30px;
    width:  30px;
    margin: auto;
    text-align: center;
    line-height: 0.7;
    vertical-align: middle;
}
#boardcover{
    display: grid;
    grid-template-columns: repeat(8, 50px);
    position: absolute;
    z-index: 1;
    gap: 1px;
    border: 2px solid red;
    width: 409px;
    height: 409px;
    margin: 10px;
}
#boardcover > div{
    border: 1px solid red;
  }
#your_display{
    display: flex;
    border: 1px solid red;
    justify-content: space-between;
    align-items: end;
    width: 410px;
}
.stand{
    display:flex;
    flex-direction: column;
    width: 250px;
    background-color: darkcyan;
    font-size: 1.1rem;
}
.hit_left{
    display: inline-flex;
    text-align: center;
    border: 1px solid red;
}
.hit_left > div{
    padding: 1px;
    height: 20px;
    padding-bottom: 1px;
    margin: 3px;
    top:50%;
    right: 50%;
    color: white;
}
#comp_display{
    display:flex;
    border: 1px solid red;
    align-items: end;
    justify-content:space-between;
    width: 410px;
    margin-left: 10px;
}

.buttons{
    border: 1px solid red;
    display: grid;
    grid-template-columns: 80px 80px;
    flex-direction: column;
}
li{
    list-style: none;
    
}
button{
    padding: 4px;
    margin: 4px;
    height: 25px;
    padding-right: 20px;
}
p{
    text-align:end;
    margin-left: 40px;
    margin-bottom: 2px;
    margin-top: 1px;
    padding: 2px;
}
footer{
    text-align: center;
    color: darkgreen;
    font-size: 1.1rem;
    margin-top: 10px;
}
dialog{
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 5px -5px 3px gray;
}
form{
    width: 200px;
    height: 100px;
}
li{
    display: flex;
    justify-content: space-between;
    margin: 7px;
}
/*.board > div{
    background-image: url('./icons/fire.png');
}*/